<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Bootstrap Forms</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 align-self-center">
      <form>
        <fieldset class="">
          <legend>Name and Email</legend>
          <div class="form-floating mb-2">            
            <input type="text" class="form-control" id="fName" placeholder="First Name">
            <label for="fName" class="form-label">First Name</label>
          </div>
          <div class="form-floating">            
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email" class="form-label">Email address</label>
          </div>
        </fieldset>
        <fieldset class="g-2">
          <legend>Buttons</legend>
          <div role="group" aria-label="Form Controls">
            <button type="button" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-primary-outline">Clear</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>