<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Bootstrap Forms</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 align-self-center">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset class="">
          <legend>Name and Email</legend>
          <div class="form-floating mb-2">            
            <input 
              formControlName="fName"
              type="text" 
              class="form-control" 
              id="fName" 
              placeholder="First Name">
            <label 
              for="fName" 
              class="form-label">
                First Name
            </label>
            <div class="error">
              <span *ngIf="f['fName'].touched && f['fName'].invalid">
                <div *ngIf="f['fName'].errors && f['fName'].errors['required']">Name is required.</div>
                <div *ngIf="f['fName'].errors && f['fName'].errors['minlength']">Name should be 3 character.</div>
              </span>
            </div>
          </div>
          <div class="form-floating">            
            <input 
              formControlName="email"
              type="email" 
              class="form-control" 
              id="email" 
              placeholder="name@example.com">
            <label for="email" class="form-label">Email address</label>
            <div class="error alert alert-danger">
              <span *ngIf="f['email'].touched && f['email'].invalid">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                <div *ngIf="f['email'].errors && f['email'].errors['email']">Please enter a valid email.</div>
              </span>
            </div>
          </div>
        </fieldset>
        <fieldset class="g-2">
          <legend>Buttons</legend>
          <div role="group" aria-label="Form Controls">
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary" value="Send">Submit</button>
            <button type="button" class="btn btn-primary-outline">Clear</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>