<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Icons</h1>                  
      <h2>Material Icons</h2>
      <div class="icons">
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false">search</mat-icon>
          </div>
          <div class="icon-label">
            Search
          </div>
        </div>
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false">home</mat-icon>
          </div>
          <div class="icon-label">
            Home
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Fontaweomse Icons</h2>
      <div class="icons">
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false" svgIcon="fa_regular_user"></mat-icon>
          </div>
          <div class="icon-label">
            fa_regular_user
          </div>
        </div>
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false" svgIcon="fa_solid_user"></mat-icon>
          </div>
          <div class="icon-label">
            fa_solid_user
          </div>
        </div>
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false" svgIcon="fa_info" [className]="'mat-icon faIcon faIcon-info'"></mat-icon>
          </div>
          <div class="icon-label">
            fa_info
          </div>
        </div>
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false" svgIcon="fa_chevron_right" [className]="'mat-icon faIcon faIcon-chevron--right'"></mat-icon>
          </div>
          <div class="icon-label">
            fa_chevron_right
          </div>
        </div>
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false" svgIcon="fa_forward" [className]="'mat-icon faIcon faIcon-forward'"></mat-icon>
          </div>
          <div class="icon-label">
            fa_forward
          </div>
        </div>
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false" svgIcon="fa_edit" [className]="'mat-icon faIcon faIcon-forward'"></mat-icon>
          </div>
          <div class="icon-label">
            fa_edit
          </div>
        </div>                   
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Bootstrap Icons</h2>
      <div class="icons">
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false" svgIcon="ba_person" [className]="'mat-icon baIcon baIcon-person'"></mat-icon>
          </div>
          <div class="icon-label">
            ba_person
          </div>
        </div>
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false" svgIcon="ba_person_fill"></mat-icon>
          </div>
          <div class="icon-label">
            ba_person_fill
          </div>
        </div>
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false" svgIcon="ba_edit"></mat-icon>
          </div>
          <div class="icon-label">
            ba_edit
          </div>
        </div>
        <div class="icon">
          <div class="icon-symbol">
            <mat-icon aria-hidden="false" svgIcon="ba_plus_circle"></mat-icon>
          </div>
          <div class="icon-label">
            ba_plus_circle
          </div>
        </div>              
      </div>
    </div>
  </div>  
</div>