<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>About Us</h1>
      <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Curabitur tempus risus finibus finibus sodales. Etiam luctus rhoncus lacinia. Vestibulum nisl velit, gravida eget diam quis, consectetur scelerisque libero. Aenean ullamcorper nibh arcu, porttitor lobortis lectus venenatis nec. Praesent vel fringilla massa. Maecenas ante ex, pulvinar ac est nec, dictum porttitor dui. Phasellus at erat nunc. Ut vulputate dui ac leo pretium tincidunt. Nam at magna dictum, fermentum augue sed, ullamcorper lacus. Duis quis molestie nulla.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus risus finibus finibus sodales. Etiam luctus rhoncus lacinia. Vestibulum nisl velit, gravida eget diam quis, consectetur scelerisque libero. Aenean ullamcorper nibh arcu, porttitor lobortis lectus venenatis nec. Praesent vel fringilla massa. Maecenas ante ex, pulvinar ac est nec, dictum porttitor dui. Phasellus at erat nunc. Ut vulputate dui ac leo pretium tincidunt. Nam at magna dictum, fermentum augue sed, ullamcorper lacus. Duis quis molestie nulla.</p>
    </div>
  </div>
</div>
